In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

# Crear la sesión de Spark
spark = SparkSession.builder.appName("Ejercicio1").getOrCreate()

In [2]:

# Cargar el archivo CSV en un DataFrame
df = spark.read.csv("personas.csv", header=True, inferSchema=True)

In [3]:
# Registrar el DataFrame como una tabla temporal
df.createOrReplaceTempView("personas")

# Realizar una consulta SQL para obtener las personas mayores de 35 años
print("Consulta SQL: Personas mayores de 35 años")
spark.sql("SELECT Nombre, Edad, Profesion FROM personas WHERE Edad > 35").show()

# Contar cuántas personas hay por profesión usando SQL
print("Consulta SQL: Número de personas por profesión")
spark.sql("SELECT Profesion, COUNT(*) AS Total FROM personas GROUP BY Profesion").show()

# Obtener las personas ordenadas por edad de forma descendente usando SQL
print("Consulta SQL: Personas ordenadas por edad (descendente)")
spark.sql("SELECT * FROM personas ORDER BY Edad DESC").show()

Consulta SQL: Personas mayores de 35 años
+------+----+----------+
|Nombre|Edad| Profesion|
+------+----+----------+
|   Bob|  45|    Doctor|
| David|  41|  Profesor|
|   Eve|  38|Arquitecta|
+------+----+----------+

Consulta SQL: Número de personas por profesión
+----------+-----+
| Profesion|Total|
+----------+-----+
|  Profesor|    1|
| Ingeniera|    1|
|Arquitecta|    1|
|   Abogada|    1|
|    Doctor|    1|
+----------+-----+

Consulta SQL: Personas ordenadas por edad (descendente)
+------+----+----------+
|Nombre|Edad| Profesion|
+------+----+----------+
|   Bob|  45|    Doctor|
| David|  41|  Profesor|
|   Eve|  38|Arquitecta|
| Alice|  34| Ingeniera|
| Cathy|  29|   Abogada|
+------+----+----------+